<mat-card *ngIf="animal">
    <mat-card-header>
        <div mat-card-avatar class="header-image" [style.backgroundImage]="'url('+animal.image"></div>
        <mat-card-title>
        {{ animal.name }} ({{animal.species}})
        </mat-card-title>
        <mat-card-subtitle>
            {{ 'pets.item.last-visit' | translate:{ date: animal.lastVisit | date:'mediumDate' } }}
        </mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="animal.image">
    <mat-card-content>
        <p> {{ animal.comment }} </p>
        <mat-divider></mat-divider>
        <mat-list>
            <h3 matSubheader>{{ 'pets.item.owner.title' | translate }}</h3>
            <mat-list-item>
                <mat-icon matListIcon>contact_page</mat-icon>
                <h4 matLine>{{animal.owner.name}}</h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>contact_mail</mat-icon>
                <h4 matLine>
                    <a appMailto>{{ animal.owner.email }}</a>
                </h4>
            </mat-list-item>
            <mat-list-item>
                <mat-icon matListIcon>contact_phone</mat-icon>
                <h4 matLine>
                    <a [href]="'tel:' + animal.owner.phone">
                        {{ animal.owner.phone }}
                    </a>
                </h4>
            </mat-list-item>
        </mat-list>
        <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions align="end">
        <a color="primary" mat-stroked-button [routerLink]="['..', 'form', animal.id]">
            {{ 'pets.item.action.edit' | translate }}
        </a>
        <button color="warn" mat-stroked-button (click)="delete()">
            {{ 'pets.item.action.delete' | translate }}
        </button>
    </mat-card-actions>
</mat-card>