$max-width: 800px;

nav {
    max-width: $max-width;
    margin: auto;
    background-color: white;
}

main {
    $space: 1rem;
    margin: $space auto;
    padding: $space;
    max-width: $max-width;
    width: calc(100% - #{2 * $space});
    background-color: white;
}

.spacer {
    flex: 1 1 auto;
}