<h2 mat-dialog-title>
  {{ 'pets.item.confirm.title' | translate }}
</h2>
<mat-dialog-content class="mat-typography">
  <p>
    {{ 'pets.item.confirm.content' | translate: {animal} }}
  </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false" cdkFocusInitial>
    {{ 'pets.item.confirm.action.cancel' | translate }}
  </button>
  <button mat-button color="warn" [mat-dialog-close]="true">
    {{ 'pets.item.confirm.action.confirm' | translate }}
  </button>
</mat-dialog-actions>